<div class="page-content">
    <div class="col-xs-12" style=" padding-top: 20px; ">
        <div class="row">
            <div class="col-sm-6 infobox-container">
                <div class="infobox infobox-green infobox-large infobox-dark ">
                    <div class="infobox-icon">
                        <i class="icon-bookmark"></i>
                    </div>
                    <div class="infobox-data">
                        <div class="infobox-content">Total Item Types</div>
                        <span class="infobox-data-number" >{{productTypeCount}}</span>
                    </div>
                </div>

                <div class="infobox infobox-green infobox-large infobox-dark">
                    <div class="infobox-icon">
                        <i class="icon-food"></i>
                    </div>
                    <div class="infobox-data">
                        <div class="infobox-content">Total Active Items</div>
                        <span class="infobox-data-number">{{productCount}}</span>
                    </div>
                </div>

                <div class="infobox infobox-green infobox-large infobox-dark">
                    <div class="infobox-icon">
                        <i class="icon-group"></i>
                    </div>
                    <div class="infobox-data">
                        <div class="infobox-content">Total Customers</div>
                        <span class="infobox-data-number">{{customerCount}}</span>
                    </div>
                </div>

            </div>

        </div>
        <div class="hr hr32 hr-dotted"></div>
        <div class="row">
            <div class="col-sm-6">
                <div class="widget-box transparent">
                    <div class="widget-header widget-header-flat">
                        <h4 class="lighter">
                            <i class="icon-star"></i>
                            Top 5 Menu Items
                        </h4>

                        <div class="widget-toolbar">
                            <a  data-action="collapse">
                                <i class="icon-chevron-up"></i>
                            </a>
                        </div>
                    </div>

                    <div class="widget-body">
                        <div class="widget-body-inner" style="display: block;">
                            <table class="table table-striped table-bordered table-hover">
                                <thead>
                                <tr >
                                    <th class="center col-sm-2">Ranking</th>
                                    <th class="center">Item Name</th>
                                    <th class="center">Total Clicks</th>
                                </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="productItem in topProductItem">
                                        <td> {{$index +1}} </td>
                                        <td>{{productItem.productName}} </td>
                                        <td> {{productItem.count}} </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div><!-- /widget-body -->
                </div><!-- /widget-box -->
            </div>


            <div class="col-sm-6">
                <div class="widget-box transparent">
                    <div class="widget-header widget-header-flat">
                        <h4 class="lighter">
                            <i class="icon-star"></i>
                            Top 5 Customers
                        </h4>

                        <div class="widget-toolbar">
                            <a  data-action="collapse">
                                <i class="icon-chevron-up"></i>
                            </a>
                        </div>
                    </div>

                    <div class="widget-body">
                        <div class="widget-body-inner" style="display: block;">
                            <table class="table table-striped table-bordered table-hover">
                                <thead>
                                <tr >
                                    <th class="center col-sm-2">Ranking</th>
                                    <th class="center">Customer Name</th>
                                    <th class="center">Total Points</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="customerItem in topCustomerPoint">
                                    <td> {{$index +1}} </td>
                                    <td><a ng-href="{{customerItem.custId}}">{{customerItem.customerName}} </a></td>
                                    <td> {{customerItem.point}} </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div><!-- /widget-body -->
                </div><!-- /widget-box -->
            </div>
        </div>
        <div class="hr hr32 hr-dotted"></div>
        <div class="row">
            <div class="col-sm-6">
                <div class="widget-box">
                    <div class="widget-header widget-header-flat widget-header-small">
                        <h5>
                            <i class="icon-signal"></i>
                            Trending - Menu Clicks
                        </h5>

                        <div class="widget-toolbar no-border middle">
                            <select class="input-medium" style="border:aqua;"
                                    ng-model="menuDateSel" ng-change="menuStateSel()">
                                <option value="1" >By Month</option>
                                <!--<option value="2" >By Week</option>-->
                                <option value="3" >By Day</option>
                            </select>
                        </div>
                    </div>

                    <div class="widget-body">
                        <div class="widget-main">
                            <div >
                                <div id="monthMenuChart" ng-show="menuDateSel==1"></div>
                                <div id="weekMenuChart" ng-show="menuDateSel==2"></div>
                                <div id="dayMenuChart" ng-show="menuDateSel==3"></div>
                            </div>
                        </div><!-- /widget-main -->
                    </div><!-- /widget-body -->
                </div><!-- /widget-box -->
            </div>

            <div class="col-sm-6">
                <div class="widget-box">
                    <div class="widget-header widget-header-flat widget-header-small">
                        <h5>
                            <i class="icon-signal"></i>
                            Trending - Active Customers
                        </h5>

                        <div class="widget-toolbar no-border middle">
                            <select class="input-medium" style="border:aqua;"
                                    ng-model="customerDateSel" ng-change="customerStateSel()">
                                <option value="1" >By Month</option>
                                <!--<option value="2" >By Week</option>-->
                                <option value="3" >By Day</option>
                            </select>
                        </div>
                    </div>

                    <div class="widget-body">
                        <div class="widget-main">
                            <div id="monthChart" ng-show="customerDateSel==1"></div>
                            <div id="weekChart" ng-show="customerDateSel==2"></div>
                            <div id="dayChart" ng-show="customerDateSel==3"></div>
                        </div><!-- /widget-main -->
                    </div><!-- /widget-body -->
                </div><!-- /widget-box -->
            </div>
        </div>
    </div>
</div>