
.page-content .col-xs-12 {
    padding: 0px;
}

.page-content .widget-toolbar .menu-edit-btn{
    width: 45px;
    height: 30px;
    line-height: 2px;
    border-width: 4px;
    padding-top: 2px;
    padding-bottom: 2px;
}
.page-content .widget-toolbar .menu-view-btn{
    font-size:13px;
    width: 100px;
    height: 30px;
    line-height: 2px;
    border-width: 4px;
    padding-top: 2px;
    padding-bottom: 2px;
}
.page-content .widget-toolbar .menu-pdf-btn{
    font-size:13px;
    height: 30px;
    line-height: 1.3;
    border-width: 4px;
    padding-top: 2px;
    padding-bottom: 2px;
}
/*for validation*/
.form-validation input.ng-invalid,.mp-form-validation textarea.ng-invalid  {
    background-color: antiquewhite;
    border: 1px solid red !important;
}

.form-validation .required_label {
    color: red;
    margin-right: 2px;
}

.mp-width-100p {
    width: 100%;
}
.mp-height-100p {
    height: 100%;
}
.mp-display-inline-block {
    display:inline-block;
}

/* 让动画无限播放 start */
.icon-animated-bell {
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
}

.icon-animated-vertical {
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
}
/* 让动画无限播放 end */

/* 让加了click处理的header元素, 还能和其他的元素有一样的样式 start */
.ace-nav>li>a [class*="icon-"] {
    font-size: 16px;
    color: #FFF;
    display: inline-block;
    width: 20px;
    text-align: center;
}
.ace-nav>li>a .badge {
    position: relative;
    top: -2px;
    left: 2px;
    padding-right: 5px;
    padding-left: 5px;
}
/* 让加了click处理的header元素, 还能和其他的元素有一样的样式 end */
