* {font-family: 'Open Sans', 'Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif','FontAwesome'  !important;}

.btn {
    padding:0px;
}
.pagination {
    margin: 10px;
}
.row {
    margin:0px;
}
.search-div {
    margin:5px 0px;
    height:35px;
    line-height: 35px;
}
.search-div #filter_label {
    font-size:14pt;
    color: rgb(67, 131, 180);
}
.search-div #filter_keyword,
.search-div #filter_search_btn
{
    margin-left:10px;
}
.search-div #filter_search_btn
{
    margin-bottom:5px;
}
