

#main_board_view .menuType {
    margin-right: 3px;
}

#main_board_view .menuItemType {
    color: green;
    font-size:12pt;
    border-bottom: 1px dashed gray;
    margin-top: 10px;
    height: 40px;
}

#main_board_view .menuItemType span {
    margin-top: 10px;
    display: inline-block;
}

#main_board_view .menuItemText {
    width: 120px;
    line-height: 18px;
    word-break:keep-all;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
    color: darkslateblue;
}

#main_board_view .menuItem {
    margin: 0px 0px 0px 0px;
    padding: 0px;
}

#main_board_view .menu_item_active {
    /*height:28px;*/
}
#main_board_view .menu_item_active>label {
    margin-top:4px;
}

#main_board_view .menuItemImg {
    width: 120px;
    padding: 10px 0px 0px 0px;
}

#main_board_view .menuItemImg:hover{
    cursor: pointer;
    /*border: 1px solid #000000;*/

    /*-webkit-transform:scale(1.2) rotate(10deg);*/
    /*-moz-transform:scale(1.2) rotate(10deg);*/
    /*-o-transform:scale(1.2) rotate(10deg);*/
    /*-ms-transform: scale(1.2) rotate(10deg);*/
    /*transform: scale(1.2) rotate(10deg);*/
    -webkit-transform:scale(1.1) rotate(3deg);
    -moz-transform:scale(1.1) rotate(3deg);
    -o-transform:scale(1.1) rotate(3deg);
    -ms-transform: scale(1.1) rotate(3deg);
    transform: scale(1.1) rotate(3deg);
    opacity: 1;
    position: static;
}

#main_board_view .clearBoth {
    clear: both;
}

#main_board_view .optButton {
    height: 25px;
    width: 60px;
    line-height: 10px;
    font-size: 10px;
    border-width: 2px;
}

#main_board_view input[type=checkbox].ace.ace-switch.ace-switch-5+.lbl_active::before {
    text-indent: -40px;
    width: 75px;
    content: "Active\a0\a0\a0\a0\a0\a0\a0\a0\a0Inactive";
}
#main_board_view input[type=checkbox].ace.ace-switch.ace-switch-5:checked+.lbl_active::before {
    text-indent: 10px;
}
#main_board_view input[type=checkbox].ace.ace-switch.ace-switch-5:checked+.lbl_active::after {
    left: 53px;
}

#main_board_view .menu_item_active_false {
    -webkit-filter: grayscale(100%);
    -webkit-filter: grayscale(1);
    filter: grayscale(100%);
    filter:url('../img/gray.svg#grayscale');
    filter:gray;
}

#main_board_view .menuItemImg {
    position: relative;
}
#main_board_view .tags {
    display: inline-block;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    overflow: visible;
    direction: rtl;
    padding: 0px;
    margin: 0;
    height: auto;
    width: auto;
    background-color: transparent;
    border: 0;
    vertical-align: inherit;
}
#main_board_view .price-disable {
    text-decoration: line-through;
}
#main_board_view .menu-promotion-btn {
    background-color: #82AF6F;
    border: 2px solid #82AF6F;
    color:white;
    width:120px;
    line-height: 1.2;
    padding: 2px;
    margin-top:5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
#main_board_view .menu-promotion-btn:hover {
    background-color: #629F4F;
}
#main_board_view .menu-promotion-add-btn {
    background-color: orange;
    border: 2px solid orange;
    color:white;
    width:120px;
    line-height: 1.2;
    padding: 2px;
    margin-top:5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
#main_board_view .menu-promotion-add-btn:hover {
    background-color: darkorange;
}
